@keyframes slideToLeft {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-15%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes fade {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(120%);
  }
}
@keyframes borderBar {
  to {
    width: 0;
  }
}
body {
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
}
body #toast {
  position: fixed;
  top: 16px;
  right: 32px;
  z-index: 9999;
}

.toast {
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-radius: 2px;
  background-color: #fff;
  border-bottom: 4px solid;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
  position: relative;
  margin-top: 20px;
  min-width: 450px;
  max-width: 460px;
  animation: slideToLeft 3s ease forwards;
}
.toast .toast__icon {
  margin: 20px;
  font-size: 44px;
  padding: 20px;
  border-right: 1px solid #ccc;
}
.toast .toast__body .toast__title {
  font-size: 20px;
  font-weight: 600;
}
.toast .toast__body .toast__messege {
  letter-spacing: 0.8px;
  font-size: 14px;
  color: #4b4b4b;
}
.toast .toast__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #777777;
}
.toast.toast__success {
  border-bottom-color: rgba(0, 204, 105, 0.2);
}
.toast.toast__success::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #00cc69;
  animation: borderBar ease 5s 0.4s forwards;
}
.toast.toast__success .toast__icon i {
  color: #00cc69;
}
.toast.toast__check {
  border-bottom-color: rgba(0, 102, 255, 0.2);
}
.toast.toast__check::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0068ff;
  animation: borderBar ease 5s 0.4s forwards;
}
.toast.toast__check .toast__icon i {
  color: #0068ff;
}
.toast.toast__error {
  border-bottom-color: rgba(254, 52, 89, 0.2);
}
.toast.toast__error::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fe355a;
  animation: borderBar ease 5s 0.4s forwards;
}
.toast.toast__error .toast__icon i {
  color: #fe355a;
}
.toast.toast__warning {
  border-bottom-color: rgba(172, 192, 57, 0.2);
}
.toast.toast__warning::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #adc23a;
  animation: borderBar ease 5s 0.4s forwards;
}
.toast.toast__warning .toast__icon i {
  color: #adc23a;
}

.btn {
  margin: 300px auto;
  display: flex;
  align-items: center;
  margin-left: 200px;
}
.btn .button {
  padding: 20px;
  display: inline-block;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  margin-left: 20px;
}
.btn .button:hover {
  opacity: 1;
}
.btn .btn-error {
  background-color: #fe355a;
}
.btn .btn-success {
  background-color: #00cc69;
}
.btn .btn-check {
  background-color: #0068ff;
}
.btn .btn-warning {
  background-color: #adc23a;
}

/*# sourceMappingURL=css.css.map */
